*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "hey_august";
  src: url("Hey\ August.ttf");
}
@font-face {
  font-family: "alte_schwabacher";
  src: url("AlteSchwabacher.ttf");
}


/* Banner */
.banner {
  display: flex;
  justify-content: center;

}
@media screen and (max-width: 786px) {
  .banner {
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px
  }
  .pretzel-logo {
    max-width: 120px;
  }
  .black-title {
    font-size: 35px;
  }
  .red-title {
    font-size: 35px;
  }
  .yellow-title {
    font-size: 40px;
  }
}

@media screen and (min-width: 786px) {
  .banner {
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px
  }
  .banner-image {
    max-width: 60%;
  }
  .branding{
    min-width: 40%;
  }
  .pretzel-logo {
    max-width: 170px;
  }
  .black-title {
    font-size: 50px;
  }
  .red-title {
    font-size: 50px;
  }
  .yellow-title {
    font-size: 70px;
  }
}


.logo-title {
  text-align: center;
}
.black-title {
  color: black;
  font-family: hey_august;
}
.red-title {
  color: #eb4025;
  font-family: hey_august;
  text-shadow: 1px 1px 1px black;
}
.yellow-title {
  color: #f9db57;
  font-family: hey_august;
}

.branding {
  text-align: center;
  padding: 30px;
  background-color: #f2b13d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}