@font-face {
  font-family: "hey_august";
  src: url("Hey\ August.ttf");
}
@font-face {
  font-family: "alte_schwabacher";
  src: url("AlteSchwabacher.ttf");
}

* {
  margin: unset;
  padding: unset;
}

body {
  background-color: #f2b13d;
  background-image: url("./Sourdough.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

/* branding */

.pretzel-logo {
  max-width: 200px;
}

.logo-title {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .logo-title {
    visibility: hidden;
  }
  
}

@media screen and (max-width: 800px) {
  .branding {
    /* visibility: hidden; */
    flex-direction: column;
    position: relative;
    padding-bottom: 30px;
  }
  .pretzel-logo {
    max-width: 100px;
  }
  .black-title {
    font-size: 35px;
  }
  .red-title {
    font-size: 35px;
  }
  .yellow-title {
    font-size: 40px;
  }
}
@media screen and (min-width: 800px) {
  .branding {
    position: absolute;
    flex-direction: column;
  }
  .black-title {
    font-size: 50px;
  }
  .red-title {
    font-size: 50px;
  }
  .yellow-title {
    font-size: 70px;
  }
}
.branding {
  left: 20px;
  top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}
.black-title {
  color: black;
  font-family: hey_august;
}
.red-title {
  color: #eb4025;
  font-family: hey_august;
  text-shadow: 1px 1px 1px black;
}
.yellow-title {
  color: #f9db57;
  font-family: hey_august;
}

/* main content */

.column {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.rounded-container {
  background-color: white;
  font-family: alte_schwabacher;
  font-size: 40px;
  border-radius: 8px;
  padding: 1rem;
  width: 300px;
  box-shadow: 4px 4px;
  text-align: center;
}

.center-row {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  flex: 1 2 1;
  /* height: 95vh; */
  gap: 20px;
}

.arrow {
  max-height: 50px;
}

.reverse {
  transform: rotate(180deg);
}

@media screen and (min-width: 800px) {
  .vertical-spacing {
    height: 20px;
  }
  .tall-vertical-spacing {
    height: 40vh;
  } 
}
@media screen and (max-width: 800px) {
  .tall-vertical-spacing {
    height: 5vh;
  } 
}


/* bottom */

.address {
  position: fixed;
  color: white;
  bottom: 10px;
  left: 10px;
}
